{% extends "_base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block subheading %}Privacy Policy{% endblock %}
{% block body %}
<h3>Summary</h3>
<p>We collect only the standard information collected by virtually all Web sites. Unless we think you are running a bot or are trying to abuse our site, we will never publish this information.</p>
<h3>0. Definitions.</h3>
<dl>
	<dt>"We", "Us", "Our", "Ours"</dt>
	<dd>Samuel Sloniker, the owner of the site</dd>
	<dt>"The site"</dt>
	<dd>https://scoopgracie.com and http://scoopgracie.com</dd>
</dl>
<h3>1. What we collect.</h3>
<p>When you visit the site collect your IP address and User-Agent string, as well as a log of which pages you visit. This is collected by virually all Web sites, and we do not collect anything else.</p>
<h4>What this means</h4>
<p>Your IP address is a number used on the Internet that identifies your network. It allows us to determine your city/town/region and ISP (Internet Service Provider), as well as perform abuse checks if we have reason to believe you are visiting this site maliciously.</p>
<p>Your User-Agent string allows us to determine your browser and operating system.</p>
<h3>2. What we do with your information.</h3>
<p>We occasionally look over our server logs to check for potential abuse. If we have reason to believe you are acting maliciously (including, but not limited to, large volumes of requests, especially to nonexistent pages), or are running an automated Web client (a.k.a. bot or Web crawler), we reserve the right to publish the information we collect. Otherwise, we will never share your information.</p>
<h3>3. Updates.</h3>
<p>We reserve the right to, and most likely will, change this Privacy Policy from time to time, without prior notice. Such changes will take effect immediately upon being posted to this page. Updated versions will only apply to information collected after the update; information from before the update will remain under the Privacy Policy that was posted at the time the information was collected.</p>
<h3>4. Severability and legal status.</h3>
<h4>4.1. Severability.</h4>
<p>If any part of this Privacy Policy is found legally invalid or inoperable, the remainder shall remain in effect.</p>
<h4>4.2. Legal status.</h4>
<p>This Privacy Policy, excluding the Summary section (which is for informative purposes only), constitutes a legally binding agreement between you and us.</p>
{% endblock %}
