{% extends "_base.html" %}
{% block title %}Geocaching{% endblock %}
{% block subheading %}Geocaching{% endblock %}
{% block body %}
<a target=_blank href="https://www.geocaching.com/profile/?guid=55e069da-2f8a-4e4d-98e7-345c93bc1021"><img src="https://img.geocaching.com/stats/img.aspx?txt=Let's%20Go%20Geocaching!&amp;uid=55e069da-2f8a-4e4d-98e7-345c93bc1021&amp;bg=1" alt="Profile for sammyland"></a>
<br>
<a target=_blank href="https://www.geocaching.com/track/details.aspx?guid=b2e69d4e-c5cd-4fc3-a95c-064b399d723e"><img src="http://img.geocaching.com/stats/tb.aspx?guid=b2e69d4e-c5cd-4fc3-a95c-064b399d723e" alt="Discover the Forest Tag"></a>
<a target=_blank href="https://www.geocaching.com/track/details.aspx?guid=db19a17c-fe96-4edb-9a7c-abde020c6977"><img src="http://img.geocaching.com/stats/tb.aspx?guid=db19a17c-fe96-4edb-9a7c-abde020c6977" alt="Traveling Log"></a>
<a target=_blank href="https://www.geocaching.com/track/details.aspx?guid=ed57dcb2-667f-437b-a9d8-e0704f4b90fe"><img src="http://img.geocaching.com/stats/tb.aspx?guid=ed57dcb2-667f-437b-a9d8-e0704f4b90fe" alt="USA Flag Tag"></a>
{% endblock %}
