{% extends "_base.html" %}
{% block title %}Home{% endblock %}
{% block h1tag %}<h1>ScoopGracie</h1>{% endblock %}
{% block body %}
<section class=noBreak>
        <dl>
                <dt><a href="https://github.com/scoopgracie/">My GitHub Profile</a></dt>
                <dt><a href="https://blog.scoopgracie.com">My Blog</a></dt>
                <dt><a href=/adblockers/>Ad Blockers</a></dt>
                <dd>Links to ad blockers for various platforms</dd>
                <dt><a href=botpoison/>BotPoison</a></dt>
                <dd>A public-domain tarpit to drastically slow down poorly-behaved Web crawlers</dd>
                <dt><a href=/technical-observations/>Technical Observations</a></dt>
                <dd>Mostly useless observations about random computer stuff</dd>
                <dt><a href=/googlebot-tests/>Googlebot Tests</a></dt>
                <dd>Documentation for various tests I have performed on Googlebot</dd>
                <dt><a href=/search-engine/>Search Engine Tutorial</a></dt>
                <dd>Make a search engine just as good as Google in nothing but HTML!</dd>
                <dt><a href=/storage/>Visual Storage Media Comparison</a></dt>
                <dd>An emoji-based visualization of the sizes of floppies, CDs, and DVDs</dd>
                <dt><a href=/geocaching/>Geocaching</a></dt>
                <dd>Our geocaching stats</dd>
                <dt><a href=/recommendations/>Software/Service Recommendations</a></dt>
                <dd>The services and programs I use/recommend</dd>
        </dl>
</section>

{% endblock %}
